node_modules
dist
.env
.env.*
*.log
.git
.gitignore
npm-debug.log*
pnpm-debug.log*
coverage
.vscode
.idea
*.swp
*.swo
.DS_Store
deployment
speak-ai-key.pem
*.pem
test
README.md
BACKEND_ARCHITECTURE.md